.user-container {
	padding: 5px;
	color: #FFFFFF;
	font-size: 14px;

	.form-container {
		width: 95%;
		height: auto;
		margin: 2.5%;
		background: rgba($color: #FFFFFF, $alpha: 0.4);
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 5px;
		padding: 2.5% 1.5% 2.5%;
	}
}